<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Corey Turner</title>
</head>
<body>

    <!---Creating headings for the reader, which introduces the content of the webpage.-->
    <h1>About Corey Turner</h1>
    <h2>Baltimore, Maryland</h2>
    <h2>21 Years Old</h2>

    <!---Creation of introduction paragraphs which gives the reader small details about myself.-->

    <p>Hello, my name is Corey Turner and I am a <em>Senior</em> at <em>University of Maryland</em>.</p>
    <p>I am studying both <strong>Finance</strong> and <strong>Information Systems</strong>.</p>

    <!---Creating an unordered list of my favorite TV shows.-->

    <p>My Favorite TV Shows:</p>

    <ul>
        <li>The Last Of Us</li>
        <li>The Sopranos</li>
        <li>Breaking Bad</li>
        <li>Shameless</li>
    </ul>

    <p>My Favorite Foods:</p>

    <ol>
        <li>Pizza</li>
        <li>Lobster</li>
        <li>Crab</li>
        <li>Chicken Parm</li>
    </ol>

    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Spring 2022</td>
        </tr>
        <tr>
            <td>BMGT403</td>
            <td>Fall 2023</td>
        </tr>
        <tr>
            <td>BMGT407</td>
            <td>Spring 2023</td>
        </tr>
    </table>

    <p>A link to the <a href="/hello">Hello World Page</a>. </p>

    <p>A link to<a href="https://www.cnbc.com/">CNBC</a>. </p>

    <p>A link<a href="https://www.nike.com/" target="_blank">forcing the Nike webpage to open</a> </p>


    <p>Here is a picture of the Robert H Smith Logo</p>

    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72"
         alt="Smith Logo">

</body>
</html>

